<section id="home">
  <div class="top-container">
    <div class="detail-container">
      <div class="details">
        <h1 id="title">Stanley Perrin</h1>
        <%= image_tag 'profile.jpeg', class: 'profile-img' %>
        <div class="about-container">
          <h2 class="sub-heading">A little bit about me...</h2>
          <p class="about-me">My name is Stanley Perrin, a 23 year old<br> aspiring
          Fullstack Developer from London. <br> Welcome to my portfolio, which I
          have<br> coded in Ruby, HTML, CSS and JavaScript. I <br>am an avid football fan
          who supports the <br>Royals (Reading FC). Growing in West London,<br> I have
          also played youth football for Hanwell <br>Town FC. But my love for  technology
          is <br>unmatched and my favourite progamming <br>language has to be JavaScript
          and I am <br>currently learning React. I also enjoy <br>watching movies and TV
          Shows, with my <br>favourites being Breaking Bad and Goodfellas!</p>
        </div>
        <div class="social-links">
          <a href="https://github.com/sperrin98" class="fab fa-github btn btn-github"></a>
          <a href="https://www.instagram.com/stanmperrin/" class="fab fa-instagram btn btn-insta"></a>
          <a href="https://www.facebook.com/stan.perrin.9/" class="fab fa-facebook btn btn-facebook"></a>
          <a href="https://twitter.com/stanperrin1" class="fab fa-twitter btn btn-twitter"></a>
          <a href="https://www.linkedin.com/in/stanley-perrin-442a6120a/" class="fab fa-linkedin btn btn-linkedin"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%# <hr> %>
  <section id="projects">
    <div class="container reveal">
      <div class="text-container">
        <div class="text-box">
          <h1 class="project-title">Projects</h1>
          <div class="flickswipe">
            <h2>Flickswipe</h2>
            <p>
              Flickswipe is a mobile app that enables users to quickly
              decide what to watch, using a swipe like process, similar to that
              of tinder. I used Ruby on Rails to develop this app, and created
              the user content controller which, presented the different TV
              shows and movies to the user, using an API. I also created other
              features such as a search bar to search for other users, a modal
              using javascript to get information on different content. I
              also helped on the Front-end side, using HTML and CSS to develop
              the design of the app.
              https://www.flickswipe.org
            </p>
          </div>
          <div class="boatee">
            <h2>Boatee</h2>
            <p>
              Boatee is an AirBnB clone, in which the user can book and rent out
              boats to other users. With Boatee, I helped create the bookings
              feature, being able to book, edit, and to cancel a booking. I
              also, implemented a rating feature, with a 5-star. like type
              process. This app was also created using rails.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="skills">
    <div class="container reveal">
      <div class="text-container">
        <div class="text-box">
          <h1>Skills</h1>
          <%= image_tag 'rails.png', class: 'rails-img' %>
          <%= image_tag 'javascript.png', class: 'js-img' %>
          <%= image_tag 'html.png', class: 'html-img' %>
          <%= image_tag 'css.png', class: 'css-img' %>
          <%= image_tag 'bootstrap.png', class: 'bootstrap-img' %>
          <%= image_tag 'react.png', class: 'react-img' %>
          <%= image_tag 'heroku.png', class: 'heroku-img' %>
          <%= image_tag 'git.png', class: 'git-img' %>
          <%= image_tag 'ruby.png', class: 'ruby-img' %>
          <%= image_tag 'mysql.png', class: 'mysql-img' %>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
      <div class="container reveal">
      <div class="text-container">
        <div class="text-box">
          <h1>About</h1>
          <h2>Profile</h2>
          <p class="profile">
            Born and raised in West London Ealing, I grew up in a big family
            of 8. From a young age, I was always fascinated by technology, and
            I started editing videos by the time I started secondary school.
            Using applications such as Adobe After Effects, Sony Vegas and
            Cinema 3D, and so I have always had a passion for creating things,
            design and more importantly the world of technology and the
            internet. It wasn’t until the pandemic where I began to learn Web
            Development, I began with Python and MySQL, but quickly moved onto
            Ruby on Rails when I began the 6 month bootcamp at Le Wagon. My goal
            is to become a fullstack developer, however, I feel I prefer the
            frontend side of web development as I gravitate more towards design
            and UX/UI development. I do also enjoy the backend side too, as it
            is more technical and problem solving based, which greatly appeals
            to me. Combining both of these two and building a fully functioning
            web app gives me a great sense of achievement and therefore would
            love to work more closely in this field of work. I have not worked
            yet in the field of web development, but I do have experience
            working with the relevant tools and applications that developers
            work with. I also have experience working closely with customers
            and clients, for example, working as a bar manager has taught me
            how to deal with customers first-hand and therefore I have a great
            sense of customer service and knowing what to do to please
            customers, and I think this is very important for a developer as
            frontend developers requires a high degree of this.
          </p>
          <h2>Education</h2>
          <div class="education">
            <div class="edu-item">
              <h3>Le Wagon Web Development Bootcamp</h3>
              <ul>Ruby</ul>
              <ul>SQL</ul>
              <ul>HTML & CSS</ul>
              <ul>JavaScript</ul>
              <ul>Heroku</ul>
              <ul>Github</ul>
            </div>
            <div class="edu-item">
            <h3>Leeds Beckett University</h3>
            <ul>2:2 Criminology with Psychology</ul>
            </div>
            <div class="edu-item-2">
            <h3>Elthorne Park High School</h3>
            <ul>A LEVEL
              <li>C - English Literature</li>
              <li>D - Economics</li>
              <li>D - Psychology</li>
            </ul>
            <ul>GCSE's
            <li>8 A* - C GCSE's</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="container reveal">
      <div class="text-container">
        <div class="text-box">
          <h1>Contact</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Voluptatum, eaque voluptatibus. Eaque tempore quam nesciunt. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Eum adipisci
            blanditiis assumenda atque officiis? Vel, fuga facilis quia
            reprehenderit nihil optio harum. Quo sapiente veniam atque
            corporis tempora non repellat?
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
